.contact{
    margin-top: 40px;
  
}


.contact form {

    max-width: 70rem;
    text-align: center;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .contactMe {
    
    text-align: center;
    font-size: 4.5rem;
  }
  .contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    background: var(--v-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
  }
  .contact form .input-box input {
    width: 49%;
  }
  .contact form textarea {
    resize: none;
  }
  .contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    
  }
  